@use "./base.scss";

// put your custom CSS here!
.bison-theme thead th {
  background-color: #003A63 !important; /* Bison Blue */
  color: #FFFFFF !important;            /* Pure White Text */
  font-weight: bold;
  text-align: center;
}

/* Optional: Make the borders light so they show up against the blue */
.bison-theme thead {
  border-bottom: 2px solid #FFFFFF;
}