@use "./base.scss";

// put your custom CSS here!
.bison-theme thead {
  background-color: #003A63; /* Bison Blue */
  color: white;
}

.bison-theme table, 
.bison-theme th, 
.bison-theme td {
  border: 1px solid #003A63; /* This gives you those blue borders you wanted */
}